.body {
    background-color: #b31b1b;
}

.banner {
    width: 100%;
}

.logo {
    width: 10%;
    margin-left: 4%;
    background-color: white;
    float: left;
}

#nav {
    width: 80%;
    background-color: white;
    text-align: right;
    color: #b31b1b;
    float: left;
    margin-top: 45px;
}

/* replace margin-top with a vertical center align command */

.logo img {
    width: 100%;
}

a {
    text-align: right;
    color: #b31b1b;
    font-size: 25pt;
    font-family: 'Slabo 27px', serif;
    text-decoration: none;
    margin-left: 3.5%;
    margin-right: 3.5%;
}

a:hover {
    color: #222222;
}

a:active {
    color: #222222;
}

.identity_rmt {
    background-image: url(../img/bigboi.png);
    background-size: cover;
    width: 100%;
    float: left;
    display: inline;
    position: relative;
    color: white;
    height: 30em;
    border: solid 4px #222222;
}


h2 {
    position: absolute;
    width: 100%;
    color: white;
    font-size: 40pt;
    margin-left: 2%;
    font-family: 'Slabo 27px', serif;
    font-weight: 400;
    margin-top: 7.85em;
}

.presentations_header_rmt {
    color: #b31b1b;
    font-family: 'Slabo 27px', serif;
    font-weight: 400;
    font-size: 30pt;
    text-align: left;
    float: left;
    margin: 3%;
    width: 94%;
}

.presentations_info_rmt {
    color: #222222;
    font-family: 'Slabo 27px', serif;
    font-weight: 400;
    font-size: 16.5pt;
    text-align: left;
    float: left;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 7%;
    width: 94%;
}

#contactus h1{
	position: absolute;
	left: 100px;
	top: 150px;
}

#contactus p{
	position: absolute;
	left: 100px;
	top: 220px;
	width: 1000px;
}

#contactus img{
	position: absolute;
	left: 100px;
	top: 310px;
	border: 2px solid black;
	width: 100px;
	height: 100px;
}

#people_container_ys {
    color: #222222;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 7%;
    width: 94%;
}

.people_header_ys {
    font-style: italic;
    color: #000;
    font-size: 20pt;
    clear: both;
    padding-top: 2%;
}

.people_name_ys {
    font-weight: bold;
    color: #000;
    font-size: 17pt;
    clear:both;
}

.people_info_ys {
    padding-left: 2%;
    padding-top: 1%;
    padding-right: 2%;
    padding-bottom: 1%;
}

.people_img_ys {
    float: left;
    height: 150px;
    width: 150px;
    margin-right: 1%;
}

.people_p_ys {
    font-family: 'Slabo 27px', serif;
    font-weight: 400;
    font-size: 13pt;
}
/********** FOOTER ****************/
#container{
    height:100%;
    margin-bottom: 0px;
    padding:20px 10px 0px 40px;
    position:relative;
}

#footer{
    text-align:center;
    font-size:0.8em;
    font-weight:400;
    color:black;
    width:100%;
    margin-top:90%;
    margin-bottom:0%;
    height:100px;
    padding-top:200px;
}
.credit_mmfj{
    font-size:0.7em;
    font-weight:300;
    color:black;
}


/********** HOME PAGE *****************/
#home_title_mmfj {
    color: #b31b1b;
    font-family: 'Slabo 27px', serif;
    font-weight: 400;
    font-size: 50pt;
    text-align: left;
    float: left;
    margin: 3%;
    width: 94%;
}
#identity{
    float:left;
}
.content_mmfj{
    color: #222222;
    font-family: 'Slabo 27px', serif;
    font-weight: 400;
    font-size: 15pt;
    text-align: left;
    float: left;
    margin-left:45%;
    margin-right:3%;
    margin-top:3%;
    margin-bottom:3%;
}
.home_header_mmfj {
    color: #b31b1b;
    font-family: 'Slabo 27px', serif;
    font-weight: 400;
    font-size: 20pt;
    text-align: left;
    float: left;
    margin-right:3%;
    margin-left:45%;
}
#header_mmfj {
    color: #b31b1b;
    font-family: 'Slabo 27px', serif;
    font-weight: 400;
    font-size: 30pt;
    text-align: left;
    float: left;
    margin-right:3%;
    margin-left:36%;
}
#uni_content_mmfj{
    color: #222222;
    font-family: 'Slabo 27px', serif;
    font-weight: 400;
    font-size: 15pt;
    text-align: left;
    float: left;
    margin-left:36%;
    margin-right:3%;
    margin-top:3%;
    margin-bottom:3%;
}